<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=768px">
    <title>{% block title %}Forum 4.0{% endblock %}</title>
    <script type="text/javascript">window.DYNAMIC_WIDGETS_URL = '{% url "dynamicwidget:widgets" %}';</script>
    {% block css %}
        <link rel="stylesheet" href="{% static "forum/css/pure-buttons.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "forum/css/styles.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "forum/css/font-awesome.css" %}" type="text/css">
    {% endblock %}
</head>
<body>
    <div class="main">
        <div class="header-primary">
            <div class="home-container">
                <a href="{% url "forum:topics-list" %}"><i class="fa fa-home fa-fw"></i>Home</a>
            </div>
            <div class="actions">
                {% block forum_header_primary %}{% endblock %}
            </div>
            <div class="login-area"><div dw-load="login-logout"></div></div>
        </div>
        <div class="header-secondary">
            {% block forum_header_secondary %}
                {% if tags %}
                <div class="search-filter">
                    <form class="filter-form" action="{% url "forum:topics-list" %}" method="GET">
                        {% for tag in tags %}
                            <label class="checkbox">
                                <input type="checkbox" class="hidden" name="tag" value="{{ tag.label }}" {% if tag.checked %}checked{% endif %}>
                                <span class="label">
                                    <i class="fa fa-square-o fa-fw state-unchecked"></i>
                                    <i class="fa fa-check-square-o fa-fw state-checked"></i>
                                    {{ tag.label }}
                                </span>
                            </label>
                        {% endfor %}
                        <!--<button type="submit" class="">Filter topics</button>-->
                    </form>
                </div>
                {% endif %}
            {% endblock %}
            <div class="search-bar">
                <form action="{% url "forum:posts-search" %}" method="GET">
                    <input type="search" name="pattern" placeholder="search">
                    <button type="submit" class="">search</button>
                </form>
            </div>
        </div>
        <div class="content">
        {% block forum_content %}{% endblock %}
        </div>
    </div>
    {% block javascript %}
        <script src="{% static "forum/js/jquery.js" %}" type="text/javascript"></script>
        <script src="{% static "dynamicwidgets/js/dynamicwidgets.js" %}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>
