.form-page {
  width: $contentWidth;
  margin: auto;
  position: relative;
  margin-top: 20px;

  label {
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
    min-width: 10%;
    text-align: right;
  }

  textarea, input {
    width: 70%;
  }

  button, button+a {
    float: right;
    margin: 9px;
  }
}
