.header-primary, .header-secondary {
    width: $contentWidth;
    margin: 0 auto;
    position: relative;
    padding: 10px 2px;
    display: table;
}

.header-primary {
    margin-top: 20px;
    color: $textPrimary;

    a {
        color: $textHighlight;
        &:hover {
            color: $textHighlightHover;
        }
    }

    .home-container {
        display: table-cell;
        vertical-align: middle;
        font-size: $fontSizeBig;
        width: 70px;
    }
    .actions {
        display: table-cell;
        vertical-align: middle;
    }
    .topic-list-actions {
        display: inline-block;
        vertical-align: middle;
        a:before {
            content: '';
            height: 100%;
            border-left: 1px solid $textHighlight;
            padding: 0 5px;
            margin: 0 0 0 5px;
        }
    }
    .login-area {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        color: $textPrimary;
    }
}

.header-secondary {
    .search-filter {
        display: table-cell;
        vertical-align: middle;
        a {
            display: inline-block;
            font-size: $fontSizeSmall;
            min-width: 150px;
            color: $textPrimary;
            .fa-fw {
                text-align: left;
            }
        }
    }
    .posts-list-actions {
        display: table-cell;
        vertical-align: middle;
        a {
            color: $textHighlight;
            &:hover {
                color: $textHighlightHover;
            }
            &:before {
                content: '';
                height: 100%;
                border-left: 1px solid $textHighlight;
                padding: 0 5px;
                margin: 0 0 0 5px;
            }
            &:first-child:before {
                border-left: none;
                margin: 0;
                padding: 0;
            }
        }
    }
    .search-bar {
        display: table-cell;
        vertical-align: middle;
        min-width: 270px;
        text-align: right;
        input, button {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
