.header {
  background: $colorWhite;
  margin: 0 auto 20px $sidebarWidth;
  padding: 0 2%;
  box-shadow: 0 2px 2px 0 $colorLightGrey;
  min-height: 48px;

  .header-item {
    display: inline-block;
    padding: 16px 8px;
    margin: 0 -4px 0 0;
    border-right: 1px solid $colorLighterGrey;
    color: $textPrimary;
    &:first-child {
      border-left: 1px solid $colorLighterGrey;
    }
    &:hover {
      background: $colorShinyBlue;
      color: $colorWhite;
    }
  }

  button, button+a {
    float: right;
    margin: 9px;
  }
}
