.header-primary, .header-secondary {
    width: $contentWidth;
    margin: 0 auto;
    position: relative;
    padding: 2px;
    display: table;
    border-top: 1px dashed $colorLighterGrey;
}

.header-primary {
    margin-top: 20px;
    color: $textPrimary;
    .logo-container {
        display: table-cell;
        vertical-align: middle;
        height: 30px;
        width: 160px;
        img { height: 100%; background: $colorDarkerGrey; }
    }
    .actions {
        display: table-cell;
        vertical-align: middle;
    }
    .user-actions {
        margin-left: 10px;
    }
    .user-actions, .topic-list-actions {
        display: inline-block;
        vertical-align: middle;
        line-height: 2em;
        a {
            color: $textHighlight;
            &:hover {
                color: $textPrimary;
            }
        }
    }
    .login-area {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        line-height: 2em;
        color: $textPrimary;
        a {
            color: $textHighlight;
            &:hover {
                color: $textPrimary;
            }
        }
    }
}

.header-secondary {
    .search-filter {
        display: table-cell;
        vertical-align: middle;
        label {
            display: inline-block;
            font-size: $fontSizeSmall;
            min-width: 150px;
            color: $textPrimary;
        }
        input, input + span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .posts-list-actions {
        display: table-cell;
        vertical-align: middle;
        a {
            color: $textHighlight;
            &:hover {
                color: $colorWhite;
            }
        }
    }
    .search-bar {
        display: table-cell;
        vertical-align: middle;
        min-width: 270px;
        text-align: right;
        input, button {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
