.search-box {
  input[type=search] {
    display: block;
  }
  label {
    display: inline-block;
    min-width: 166px;
    padding: 10px 0;
  }
}

.marked-pattern {
    background: $colorLightYellow;
}
