p.solving {
  color: $colorLighterGreen;
  margin-top: 8px;
}

.tag {
  margin: 0 4px;
  padding: 2px 0;
  display: inline-block;

  &.solved {
    color: $colorLighterGreen;
    @include opacity(0.7);
  }

  &.closed {
    color: $colorLighterRed;
    @include opacity(0.7);
  }

  &.new {
    font-weight: bold;
    font-size: $fontSizeSmall;
    color: $colorYellow;
    padding: 0;
  }
}
