.topic-list {
  .topic {
    position: relative;
    //table-layout: fixed;
    //background: $colorDarkWhite;
    border-bottom: 1px solid $colorLighterGrey;
  }
/*
  .avatar {
    line-height: 0;
    width: 46px;
    padding: 0 0 0 8px;
    display: table-cell;
    vertical-align: middle;
  }
*/
  .topic-main {
    display: block;
    vertical-align: top;
    position: relative;
    padding: 8px 10px 4px 10px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      white-space: nowrap;
      text-decoration: none;
      font-size: $fontSizeBig;
    }

    .new {
      font-weight: bold;
    }

    .topic-attributes-right {
        margin-left: 24px;
        border-left: 2px solid $colorLighterGrey;
        padding-left: 4px;
    }

    .topic-attributes-left {
        position: absolute;
        top: 28px;
        left: 10px;
        width: 23px;
        span {
            font-size: $fontSizeSmall;
            line-height: 1.3em;
        }
    }

    .tags {
      font-size: $fontSizeSmall;
      //position: absolute;
      //right: 4px;
      //bottom: 4px;
      //max-width: 50%;
      //text-align: right;
      line-height: 1.3em;
    }

    .topic-meta {
      font-size: $fontSizeSmall;
      //max-width: 50%;
    }
  }
}

.topic-list-actions {

}
