.topic-list {
  .topic {
    position: relative;
    //table-layout: fixed;
    //background: $colorDarkWhite;
    border-bottom: 1px solid $colorLighterGrey;
  }
/*
  .avatar {
    line-height: 0;
    width: 46px;
    padding: 0 0 0 8px;
    display: table-cell;
    vertical-align: middle;
  }
*/
  .topic-main {
    display: block;
    vertical-align: top;
    position: relative;
    padding: 8px 10px 4px 0;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      white-space: nowrap;
      text-decoration: none;
      font-size: $fontSizeBig;
      color: $colorShinyBlue;
      font-weight: bold;
    }

    .new {
      font-weight: bold;
    }

    .topic-attributes-right {
        margin-left: 24px;
        border-left: 2px solid $colorLighterGrey;
        padding-left: 4px;
    }

    .topic-attributes-left {
        position: absolute;
        top: 28px;
        left: 0;
        width: 23px;
        span {
            font-size: $fontSizeSmall;
            line-height: 1.3em;
        }
    }

    .tags {
      font-size: $fontSizeSmall;
      line-height: 1.3em;
    }

    .topic-meta {
      font-size: $fontSizeSmall;
    }
  }
}

.topic-list-actions {
    display: inline-block;
    vertical-align: baseline;
    /*
    a:before {
        content: '';
        height: 100%;
        border-left: 1px solid $colorDarkerGrey;
        padding: 0 5px;
        margin: 0 0 0 5px;
    }*/
}

.search-filter {
    display: table-cell;
    vertical-align: middle;
    a {
        display: inline-block;
        font-size: $fontSizeSmall;
        min-width: 150px;
        color: $colorDarkerGrey;
        .fa-fw {
            text-align: left;
        }
    }
}
