// should contain basic ui elements like buttons, input elements, etc.
input[type=text], input[type=search], input[type=email], input[type=number] {
  border: 1px solid $colorLightGrey;
  outline: none;
  padding: 6px 8px;
}

.btn {

}
