// should contain basic ui elements like buttons, input elements, etc.
.btn-primary, .btn-secondary, a.btn-primary, a.btn-secondary {
    box-sizing: content-box;
    height: 2em;
    line-height: 2em;
    padding: 0 10px;
    border: 1px solid $colorGrey;
    background: $colorWhite;
    &:hover {
        background: $colorShinyBlue;
        color: $colorWhite;
        border-color: $colorShinyBlue;
    }
}

.btn-primary, a.btn-primary {
    color: $colorShinyBlue;
}

.btn-secondary, a.btn-secondary {
    color: $colorDarkGrey;
}

input[type=text], input[type=search], input[type=email], input[type=number] {
  border: 1px solid $colorLightGrey;
  outline: none;
  padding: 6px 8px;
}

textarea {
  position: relative;
  background: $colorWhite;
  padding: 4px 1%;
  min-height: 64px;
  line-height: 1.5em;
  border: 1px solid $colorLightGrey;
  width: 98%;
  max-width: 98%;
  outline: none;
  transition: 0.3s linear border-color;

  &:focus {
    border-color: $colorShinyBlue;
  }
}

select {
  border: 1px solid $colorLightGrey;
  outline: none;
  padding: 2px;
}

.checkbox {
    cursor: pointer;
    .fa-fw {
        text-align: left;
    }
    input[type=checkbox] {
        display: none;

        + .label {
            .state-checked {
                display: none;
            }
            .state-unchecked {
                display: inline-block;
            }
        }

        &:checked + .label {
            .state-checked {
                display: inline-block;
            }
            .state-unchecked {
                display: none;
            }
        }
    }
}
