.hidden {
  display: none;
}

.right-align {
    text-align: right;
}

.table {
  display: table;
  border-collapse: collapse;
  &.expand {
    width: 100%;
  }
}

.row {
  display: table-row;
  width: 100%;
}

.col {
  display: table-cell;
  vertical-align: middle;
}

.col-1-2, col-2-2 {
    vertical-align: top;
    width: 50%;
}

html, body {
  min-height: 100%;
  background-color: $colorWhite;
  overflow-x: hidden;
  position: relative;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAK/f//+zwjjgzisrKyMYAEYB8RmROaABAAc7g/1Vh/gsAAAAABJRU5ErkJggg==);
}

.main {
  width: 100%;
  margin: 0 auto;
  font-family: $fontFamilyMain;
  font-size: $fontSizeBase;
}

.content {
  margin: auto;
}

$contentWidth: 96%;

.content-inner {
    width: $contentWidth;
    margin: 10px auto 0 auto;
}

.shadow-box {
    box-shadow: 1px 1px 3px -1px $colorGrey;
    margin: 16px auto;
    padding: 8px;
    background: $colorWhite;
}
