{% load avatar staticfiles %}

{% if topic.is_closed %}
    <div class="right-align">
        You cannot comment. Topic is closed.
    </div>
{% elif user.is_anonymous %}
    <div class="right-align">
        You have to <a href="{% url "simpleauth:login" %}">login</a> to comment.
    </div>
{% else %}
    {% if can_create_post %}
        <form class="row" action="{% url "forum:post-create" topic_pk=topic.id %}" method="POST">
            <div class="col">
                <textarea id="topic-{{ topic.pk }}-comment" name="content" placeholder="reply"></textarea>
                <div id="epiceditor"></div>
                <span class="arrow-border"></span>
                <span class="arrow-fill"></span>
                {% csrf_token %}
                <button class="btn-primary" type="submit">reply</button>
            </div>
            <div class="col">
                {% avatar_tag user.email 76 %}
            </div>
        </form>
        <script src="{% static "forum/js/epiceditor.js" %}" type="text/javascript"></script>
        <script type="text/javascript" charset="utf-8">
            var editor = new EpicEditor({
                basePath: '',
                localStorageName: 'topic-{{ topic.pk }}-comment',
                autogrow: true,
                textarea: 'topic-{{ topic.pk }}-comment',
                file: {autoSave: false},
                theme: {
                    base: '{% static "forum/css/epiceditor/epiceditor.css" %}',
                    preview: '{% static "forum/css/epiceditor/preview.css" %}',
                    editor: '{% static "forum/css/epiceditor/editor.css" %}'
                }
            });
            $(function () {
                editor.load();
                $('#topic-{{ topic.pk }}-comment').hide();
            });
        </script>
    {% else %}
        You do not have permission to comment on this topic.
    {% endif %}
{% endif %}
